# 김서방찾기문제

In [22]:

def solution(seoul):
    for i in enumerate(seoul):
        if i[1] == "Kim":
            return print('"김서방은 {}에 있다"'.format(i[0]))

In [27]:
solution(["Jane","Kim","lee"])

'김서방은 1에 있다'

In [25]:
def findKim(seoul):
    return "김서방은 {}에 있다".format(seoul.index('Kim'))

In [26]:
def solution(seoul):
    return "김서방은 {}에 있다".format(seoul.index('Kim'))

In [28]:
A = [1,2,3,4,5,6,'a','b']

In [30]:
A.index(1)

0

# 소수찾기문제

- 에라토스테네스의 체 라는 방식을 활용해야 통과할 수 있는 문제
- 에라토스테네스의 체는 소수를 찾는 방식의 한 종류인데 풀어써보자면, \n 2부터 시작해서 2의 배수들을 모두 제거하고 그 다음 3의 배수를 제거, 4의배수 제거.. 와 같이 계속해서 제거해 나간 후 남은 수들을 줍줍하면 소수들을 얻을 수 있다.
- 아래문제는 set 연산을 활용하는데 그 안에서는 arange(2*i,n+1,i) 를 굴린다. n+1은 입력받은 수까지 확인해야하기 때문에 n+1까지 시행하게 되고 2부터 arange를 잡기때문에 1은 고려할 필요가 없어진다.
        - 꽤 어려웠던 문제로 에라토스테네스의 체를 알아야 풀 수 있었기때문에 에라토스테네스의 체를 기억해둬야 할듯하다

In [80]:
def solution(n):
    answer, test = [2,3] , []
    for i in range(4,n+1):
        for j in range(2,i):
            if i%j == 0:
                break
            else:
                print(i,j)
                test.append(j)
        if 0 in test:
            
    return answer

In [103]:
solution(10)

4 // 2
5 // 2
5 // 3
5 // 4
6 // 2
7 // 2
7 // 3
7 // 4
7 // 5
7 // 6
8 // 2
9 // 2
9 // 3
10 // 2

(4, [5, 7])

In [121]:

def solution(n):
    if n == 3:
        return 2
    elif n ==2:
        return 1
    answer,test = [], []
    for i in range(4,n+1):
        for j in range(2,i):
            print(i,'//',j)
            if i%j == 0:
                print(i,"는 소수가 아님")
                break
            else:
                test.append(j)
        print(test)
        if len(test) == i-2:
            print(i,"는 소수임")
            answer.append(i)
            test = []
        else:
            test = []
    return (len(answer)+2)

In [123]:
solution(3)

2

## 해답

In [127]:
def solution2(n):
    N = set(range(2,n+1))
    for i in range(2,n+1):
        if i in N:
            N -= set(range(2*i,n+1,i))
    return len(N)

In [128]:
solution2(10)

4

In [154]:
A = set(range(1,100))
for i in range(2,100):
    A -= set(range(2*i,101,i))
print(A)

{1, 2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97}

In [160]:
A = set(range(1,100))
for i in range(2,100):
    print(list(range(2*i,101,i)))

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]
[6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]
[8, 12, 16, 20, 24, 28, 32, 36, 40, 44, 48, 52, 56, 60, 64, 68, 72, 76, 80, 84, 88, 92, 96, 100]
[10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]
[12, 18, 24, 30, 36, 42, 48, 54, 60, 66, 72, 78, 84, 90, 96]
[14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98]
[16, 24, 32, 40, 48, 56, 64, 72, 80, 88, 96]
[18, 27, 36, 45, 54, 63, 72, 81, 90, 99]
[20, 30, 40, 50, 60, 70, 80, 90, 100]
[22, 33, 44, 55, 66, 77, 88, 99]
[24, 36, 48, 60, 72, 84, 96]
[26, 39, 52, 65, 78, 91]
[28, 42, 56, 70, 84, 98]
[30, 45, 60, 75, 90]
[32, 48, 64, 80, 96]
[34, 51, 68, 85]
[36, 54, 72, 90]
[38, 57, 76, 95]
[40, 60, 80, 100]
[42, 63, 84]
[44, 66, 88]
[46, 69, 92]
[48, 72, 96]
[50, 75, 100]
[52, 78]
[54, 81]
[56, 84]
[58, 87]
[60, 90]
[62, 93]
[64, 96]
[66, 99]
[68]
[70]
[72]
[74]
[76]
[78]
[80]
[82]
[84]
[86]
[88]
[90]
[92]
[94]
[96]
[98]
[100]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]

In [140]:
for a in range(0,10):
    print(a)

0
1
2
3
4
5
6
7
8
9

In [164]:
def solution(n):
    N = set(range(2,n+1))
    for i in range(2,n+1):
        N -= set(range(2*i,n+1,i))
    return len(N),N

In [165]:
solution(20)

(8, {2, 3, 5, 7, 11, 13, 17, 19})

# 수박수박문제

In [182]:
n = 4
type(n)

int

In [184]:
a = '수박'*int(n/2)

In [185]:
a

'수박수박'

In [199]:
def solution(n):
    answer = '수박'*int(n/2)
    return answer if n%2 ==0 or answer + str('수')

SyntaxError: invalid syntax (<ipython-input-199-1e7ed3889d6b>, line 3)

In [204]:
def solution(n):
    if n%2 ==0:
        answer = '수박'*int(n/2)
        return '수박'*int(n/2)
    else:
        answer = '수박'*int(n/2) + '수'
        return answer

In [207]:
solution(7)

'수박수박수박수'

In [206]:
def water_melon(n):
    answer = '수박'* n
    return answer[:n]

In [208]:
water_melon(7)

'수박수박수박수'

# 시저암호
- 입력받은 문자열을 같이 입력받은 인덱스 만큼 알파벳 순서에서 뒤로 밀어서 변경된 값을 출력하는 문제.

In [308]:
def solution(s, n):
    total = 'abcdefghijklmnopqrstuvwxyz'
    TOTAL = total.upper()
    answer = []
    s = list(s)
    for i in s:
        if i != ' ' and i in TOTAL:
            if TOTAL.index(i)+n > 25:
                K = int(TOTAL.index(i)) + n - 26
                answer.append(TOTAL[K])
            else:
                answer.append(TOTAL[(TOTAL.index(i))+n])

        elif i != ' ' and i in total:
            if total.index(i)+n > 25:
                k = int(total.index(i)) + n - 26
                answer.append(total[K])
            else:
                answer.append(total[(total.index(i))+n])
        else:
            answer.append(i)

    return ''.join(answer)

In [309]:
solution('AB',1)

'BC'

In [292]:
s='f B C de f zzz'
n=2
s = list(s)
total = 'abcdefghijklmnopqrstuvwxyz'
TOTAL = total.upper()
for i in s:
    print(i)
    if i != ' ' and i in TOTAL:
        if TOTAL.index(i)+n > 25:
            K = int(TOTAL.index(i)) + n - 26
            s[int(s.index(str(i)))] = TOTAL[K]
        else:
            s[int(s.index(str(i)))] = TOTAL[(TOTAL.index(i))+n]
            print(s)
    elif i != ' ' and i in total:
        if total.index(i)+n > 25:
            k = int(total.index(i)) + n - 26
            s[int(s.index(str(i)))] = total[k]
        else:
            s[int(s.index(str(i)))] = total[(total.index(i))+n]
            print(s)
    else:
        print(i,i,i,i)
        pass
    
print(''.join(s))

f
['h', ' ', 'B', ' ', 'C', ' ', 'd', 'e', ' ', 'f', ' ', 'z', 'z', 'z']


B
['h', ' ', 'D', ' ', 'C', ' ', 'd', 'e', ' ', 'f', ' ', 'z', 'z', 'z']


C
['h', ' ', 'D', ' ', 'E', ' ', 'd', 'e', ' ', 'f', ' ', 'z', 'z', 'z']


d
['h', ' ', 'D', ' ', 'E', ' ', 'f', 'e', ' ', 'f', ' ', 'z', 'z', 'z']
e
['h', ' ', 'D', ' ', 'E', ' ', 'f', 'g', ' ', 'f', ' ', 'z', 'z', 'z']


f
['h', ' ', 'D', ' ', 'E', ' ', 'h', 'g', ' ', 'f', ' ', 'z', 'z', 'z']


z
z
z
h D E hg f bbb

In [282]:
TOTAL.index('Z')

25

In [286]:
for i in s:
    print(i)

c

D

E

h
g

f

z

# 내적문제

In [310]:
def solution(a, b):
    return sum([a[i]*b[i] for i in range(0,len(a)) ])

In [311]:
solution([1,2,3,4],[-3,-1,0,2])

3

# 약수의 합

In [314]:
def solution(n):
    return sum([i for i in range(1,n+1) if n%i ==0])

In [315]:
solution(12)

28

# 이상한문자만들기

In [381]:
def solution(s):
    s = list(s.split(' '))
    sample, answer = '', []
    for i in s:
        for j in range(0,len(i)):
            if j == 0 or j%2 == 0:
                sample += i[j].upper()
            else:
                sample += i[j].lower()
        answer.append(sample)
        sample = ''
    return ' '.join(answer)

In [382]:
solution("try hello world")

'TrY HeLlO WoRlD'

# 자릿수더하기

In [387]:
def solution(n):
    n = str(n)
    answer = 0
    for i in range(0,len(n)):
        answer += int(n[i])
    return answer

In [388]:
solution(1234)

10

# 자연수뒤집어 배열로 만들기

In [428]:
def solution(n):
    n = str(n)[::-1]
    return [int(i) for i in n]

In [433]:
def solution(n):
    return list(map(int,reversed(str(n))))

In [434]:
solution(12345)

[5, 4, 3, 2, 1]

# 정수 내림차순으로 배치하기

In [442]:
def solution(n):
    return int(''.join(sorted(str(n),reverse=True)))

In [443]:
solution(12345)

54321